body{
    margin:0
}
.weatherApp{
    background-image:   url( backimage.jpg);
    background-size: cover;
    height:100vh;
}
.location{
    text-align: right;
    padding:50px 150px 0px 0px;
}
.location h3,  .location h5{
margin:0;

}
.information{
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    margin-top: 80px;
}
.temp_information h2{
    font-size: 60px;
}
.search{
    display: flex;
    justify-content: center;
}
.search input{
    height: 40px;
    width: 400px;
}
.search button{
    border: 0;
    background-color: cornflowerblue;
    color: white;
    padding: 0px 30px;
}
